.gradle/
build/
run/
*.log
*.tmp
*.bak

minecraft_server_on_docker/__pycache__/
minecraft_server_on_docker/flat/25565/

mineflayer_server_on_docker/__pycache__/
mineflayer_server_on_docker/mineflayer_logs/

src/logs/
src/modules/__pycache__/
src/.vscode/
src/realtimesst.log

tmps/

.vscode/
.idea/
Thumbs.db
.DS_Store